{% load  staticfiles %}
<html>
  <head>
    <title>运营分析可视化平台</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blue Moon - Responsive Admin Dashboard" />
    <meta name="keywords" content="Notifications, Admin, Dashboard, Bootstrap3, Sass, transform, CSS3, HTML5, Web design, UI Design, Responsive Dashboard, Responsive Admin, Admin Theme, Best Admin UI, Bootstrap Theme, Wrapbootstrap, Bootstrap, bootstrap.gallery" />
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href="{% static 'blue-moon/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blue-moon/css/new.css' %}" rel="stylesheet">
    <link href="{% static 'blue-moon/css/charts-graphs.css' %}" rel="stylesheet">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'blue-moon/css/datepicker.css' %}">

    <link href="{% static 'blue-moon/fonts/font-awesome.min.css' %}" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'blue-moon/js/html5shiv.js' %}"></script>
      <script src="{% static 'blue-moon/js/respond.min.js' %}"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Header Start -->
    <header>

      <h2 style="color:#fff;width:600px;float:left;font-family: 'Microsoft YaHei';margin: 7px 0 0 0;line-height: 50px"><img src="{% static 'images/MTV.png' %}"/><span style="margin-left:5px;vertical-align: bottom">运营分析可视化平台</span></h2>

    </header>
    <!-- Header End -->

    <!-- Main Container start -->
    <div class="dashboard-container">

      <div class="container">
        <!-- Top Nav Start -->
        <div id='cssmenu'>
          <ul>
            <li>
              <a href='/display/'>
                <i class="fa fa-dashboard"></i>
                <span >全平台</span>
              </a>
            </li>
            <li class='active'>
              <a href="forms.html">
                <i class="fa fa-bar-chart-o"></i>频道</a>
              <ul>
                 <li><a href="/display/channel?name=show">综艺</a></li>
                 <li><a href="/display/channel?name=tv">电视剧</a></li>
                 <li><a href="/display/channel?name=movie">电影</a></li>
                 <li><a href="/display/channel?name=cartoon">动漫</a></li>
              </ul>
            </li>
            <li class=''>
              <a href='#'><i class="fa fa-caret-square-o-right"></i>节目</a>
              <!--<ul>-->
                 <!--<li><a href='flot.html'>Flot Graphs</a></li>-->
                 <!--<li><a href='graphs.html'>Google Graph</a></li>-->
                 <!--<li><a href='vector-maps.html'>Vector Maps</a></li>-->
              <!--</ul>-->
            </li>

          </ul>
        </div>

        <!-- Top Nav End -->



        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper-lg">
          <div class="widget">
            <div class="wedger-header-blue">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div style="font-size: 24px;font-weight: bold;margin:0 -15px;color:#000;" >
                    {{channel_name}}频道每日概况
                    <span class="mini-title" style="font-size: 15px;color:#000;">
                      {{date_str.0}}
                    </span>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <form class="form-inline" action="/display/"  method="post" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="search_date" style="font-size: 14px">日期：</label>
                      <input type="date" class="form-control" id="search_date" name="search_date" placeholder="开始时间">
                    </div>
                                        <button type="submit" class="btn btn-default">查询</button>
                  </form>
                </div>

            </div>
            <div class="widget-body">
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-6" >
                  <div id="header_one" style="height:150px;"></div>
                </div>
                <div class="col-lg-2 col-md-2  col-sm-6">
                  <div class="mini-widget">
                    <div class="mini-widget-heading clearfix">
                      <div class="text-center">VV</div>
                    </div>
                    <div class="mini-widget-body clearfix">
                      <div class="pull-left">
                        <i class="fa fa-play-circle-o"></i>
                      </div>
                      <div class="pull-right number">{{overview_channel_day_dict.vv.0}}万</div>
                    </div>
                    <div class="mini-widget-footer clearfix">
                      <div class="pull-left"><span style="margin-right: 10px">环比</span><i class="fa fa-arrow"></i> <i>{{overview_channel_day_dict.vv.1}}%</i></div>
                      <div class="pull-right"><span style="margin-right: 10px">同比</span><i class="fa fa-arrow"></i></i><i>{{overview_channel_day_dict.vv.2}}%</i></div>
                    </div>
                    <!--                 <div class="mini-widget-footer center-align-text">
                                      <span>Better than last week</span>
                                    </div> -->
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6">
                  <div class="mini-widget">
                    <div class="mini-widget-heading clearfix">
                      <div class="text-center">UV</div>
                    </div>
                    <div class="mini-widget-body clearfix">
                      <div class="pull-left">
                        <i class="fa fa-users"></i>
                      </div>
                      <div class="pull-right number">{{overview_channel_day_dict.uv.0}}万</div>
                    </div>
                    <div class="mini-widget-footer clearfix">
                      <div class="pull-left"><span style="margin-right: 10px">环比</span><i class="fa fa-arrow"></i> <i>{{overview_channel_day_dict.uv.1}}%</i></div>
                      <div class="pull-right"><span style="margin-right: 10px">同比</span><i class="fa fa-arrow"></i><i>{{overview_channel_day_dict.uv.2}}%</i></div>
                    </div>
                    <!--                 <div class="mini-widget-footer center-align-text">
                                      <span>Better than last week</span>
                                    </div> -->
                  </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-6">
                  <div class="mini-widget">
                    <div class="mini-widget-heading clearfix">
                      <div class="text-center">人均播放次数</div>
                    </div>
                    <div class="mini-widget-body clearfix">
                      <div class="pull-left">
                        <i class="fa fa-user-plus"></i>
                      </div>
                      <div class="pull-right number">{{overview_channel_day_dict.vv_perperson.0}}次</div>
                    </div>
                    <div class="mini-widget-footer clearfix">
                      <div class="pull-left"><span style="margin-right: 10px">环比</span><i class="fa fa-arrow"></i><i>{{overview_channel_day_dict.vv_perperson.1}}%</i></div>
                      <div class="pull-right"><span style="margin-right: 10px">同比</span><i class="fa fa-arrow"></i><i>{{overview_channel_day_dict.vv_perperson.2}}%</i></div>
                    </div>
                    <!--                 <div class="mini-widget-footer center-align-text">
                                      <span>Better than last week</span>
                                    </div> -->
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6">
                  <div class="mini-widget">
                    <div class="mini-widget-heading clearfix">
                      <div class="text-center">人均播放时长</div>
                    </div>
                    <div class="mini-widget-body clearfix">
                      <div class="pull-left">
                        <i class="fa fa-clock-o"></i>
                      </div>
                      <div class="pull-right number">{{overview_channel_day_dict.duration_perperson.0}}分钟</div>
                    </div>
                    <div class="mini-widget-footer clearfix">
                      <div class="pull-left"><span style="margin-right: 10px">环比</span><i class="fa fa-arrow"></i><i>{{overview_channel_day_dict.duration_perperson.1}}%</i></div>
                      <div class="pull-right"><span style="margin-right: 10px">同比</span><i class="fa fa-arrow"></i><i>{{overview_channel_day_dict.duration_perperson.2}}%</i></div>
                    </div>
                    <!--                 <div class="mini-widget-footer center-align-text">
                                      <span>Better than last week</span>
                                    </div> -->
                  </div>
                </div>

              </div>
            </div>
	</div>
          <!-- Row starts -->

          <!-- Row ends -->

          <!-- Row Start -->
          <div class="widget">
            <div class="wedger-header-blue">
              <div style="font-size: 24px;font-weight: bold;color:#000;">
                频道趋势
              </div>
            </div>
            <div class="widget-body">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="widget">
                    <div class="widget-header">
                      <div class="title">
                        月VV趋势
                    <span class="mini-title">
                    </span>
                      </div>
                    </div>
                    <div class="widget-body">
                      <div id="uv_left" style="position: relative;height: 300px;"></div>
                    </div>
                  </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="widget">
                    <div class="widget-header">
                      <div class="title">
                        日VV-UV趋势
                    <span class="mini-title">
                    </span>
                      </div>
                    </div>
                    <div class="widget-body">
                      <div id="uv_right" style="height: 300px"></div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>



          <!-- Row Start -->
          <div class="widget">
            <div class="wedger-header-blue">
              <div style="font-size: 24px;font-weight: bold;color:#000;">
                趋势分析
              </div>
            </div>
            <div class="widget-body">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="widget">
                    <div class="widget-header">
                      <div class="title">
                        分端VV趋势
                    <span class="mini-title">
                    </span>
                      </div>
                    </div>
                    <div class="widget-body">
                      <div id="trend_left" style="height: 300px"></div>
                    </div>
                  </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="widget">
                    <div class="widget-header">
                      <div class="title">
                        分端UV趋势
                    <span class="mini-title">
                    </span>
                      </div>
                    </div>
                    <div class="widget-body">
                      <div id="trend_right" style="height: 300px"></div>
                    </div>
                  </div>

                </div>
              </div>

	<div class="widget">
            <div class="wedger-header-blue">
              <div style="font-size: 24px;font-weight: bold;color:#000;">
                运营分析
              </div>
            </div>
            <div class="widget-body">
              <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="widget">
                                  <div class="widget-header">
                                    <div class="title">
                                      DAU、UV占比
                                  <span class="mini-title">
                                  </span>
                                    </div>
                                  </div>
                                  <div class="widget-body">
                                    <div id="display_left" style="height: 600px"></div>
                                  </div>
                                </div>

                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="widget">
                                  <div class="widget-header">
                                    <div class="title">
                                      上周重点节目(日均VV、日均UV、日均VV/UV)
                                    <span class="mini-title" style="font-size: 15px;color:#000;">
                                      {{date_str.1}}
                                    </span>
                                    </div>
                                  </div>
                                  <div class="widget-body">
                                    <div id="display_right" style="height: 600px"></div>
                                  </div>
                                </div>

                              </div>
                            </div>
	</div>
</div>
              <!-- Row End -->
              <br/>
          </div>



        </div>
        <!-- Dashboard Wrapper End -->

        <footer>
          <div style="text-align:center"><p>© MGTV hf ltt</p></div>
        </footer>

      </div>
    </div>
    <!-- Main Container end -->

    <script src="{% static 'blue-moon/js/jquery.js' %}"></script>
    <script src="{% static 'blue-moon/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blue-moon/js/jquery.scrollUp.js' %}"></script>

    <!-- jQuery UI JS -->
    <script src="{% static 'blue-moon/js/jquery-ui-v1.10.3.js' %}"></script>

    <!-- Just Gage -->
    <script src="{% static 'blue-moon/js/justgage/raphael.2.1.0.min.js' %}"></script>

    <!-- Flot Charts -->
    <script src="{% static 'blue-moon/js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'blue-moon/js/flot/jquery.flot.orderBar.min.js' %}"></script>
    <script src="{% static 'blue-moon/js/flot/jquery.flot.stack.min.js' %}"></script>
    <script src="{% static 'blue-moon/js/flot/jquery.flot.pie.min.js' %}"></script>
    <script src="{% static 'blue-moon/js/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'blue-moon/js/flot/jquery.flot.resize.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'blue-moon/js/menu.js' %}"></script>
    <script src="{% static 'blue-moon/js/custom-index2.js' %}"></script>
    <script src="{% static 'blue-moon/js/echarts.min.js' %}"></script>

    <script type="text/javascript">
/******************日期控件的选择日期事件************************/
      document.querySelector("[type='date']").onchange= function(){
        var now=new Date();
        var nowDay=now.toLocaleDateString();
        var selectDay=document.querySelector("#search_date").value;
        compareDate(selectDay,nowDay);
      }

      function compareDate(selectDay, nowDay) {
        var arys1= new Array();
        var arys2= new Array();
        var form=document.querySelector(".form-inline");
        var btn=document.querySelector("[type='submit']");
        if(selectDay != null) {
          arys1=selectDay.split('-');
          var sdate=new Date(arys1[0],parseInt(arys1[1]-1),arys1[2]);
          arys2=nowDay.split('/');
          var edate=new Date(arys2[0],parseInt(arys2[1]-1),arys2[2]);
          if(sdate > edate) {
            while(btn!=form.lastChild){
              form.removeChild(form.lastChild);
            }
            var label=document.createElement("label");
            label.innerHTML="请选择合理日期";
            label.className='text-danger';
            form.appendChild(label);
          }
          else
            while(btn!=form.lastChild){
              form.removeChild(form.lastChild);
            }
        }
      }
      /*******************鼠标移入事件*********************/
      //为每个.mini-widget添加一个自定义data-tip属性；
      $('.mini-widget').hover(
          function(){
            var tip=$(this).attr("data-tip");
            $div=$(`<div class="tip"></div><span class='tip-span'></span>`);
            $(this).prepend($div);
            $(".tip").html(tip);
            if($('.tip').outerHeight()>40)
              $(".tip").animate({"top":-75,"opacity":1},300);
            else
              $(".tip").animate({"top":-55,"opacity":1},300);
	   $(".tip-span").animate({"top":-25,"opacity":1},300);
          },
          function(){
            $(".tip").remove();
            $(".tip-span").remove();
        })

      ;
      var kpi_ratio = {{kpi_ratio}}
      var list=document.querySelectorAll(".fa-arrow");
      for(var i=0;i<list.length;i++){
        var num=parseFloat(list[i].nextElementSibling.innerHTML);
        if(num>0){
          list[i].className="fa fa-arrow-up";
        }else{
          list[i].className="fa fa-arrow-down";
        }
      }
    function firstMap(){

            var myChart = echarts.init(document.getElementById('header_one'));
            option = {

              series : [
                {
                  name: '速度',
                  type: 'gauge',
                  z: 3,
                  min: 0,
                  max: 120,
                  splitNumber: 6,
                  radius: '100%',
                  axisLine: {            // 坐标轴线
                    lineStyle: {       // 属性lineStyle控制线条样式
                      width: 3
                    }
                  },
                  axisTick: {            // 坐标轴小标记
                    length: 5,        // 属性length控制线长
                    lineStyle: {       // 属性lineStyle控制线条样式
                      color: 'auto'
                    }
                  },
                  splitLine: {           // 分隔线
                    length: 10,         // 属性length控制线长
                    lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                      color: 'auto'
                    }
                  },
                  title : {
                    textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                      fontWeight: 'bolder',
                      fontSize: 10,
                      fontStyle: 'italic'
                    }
                  },
                  detail : {
            formatter:'{value}%',
                    textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                      fontWeight: '10'
                    }
                  },

             data:{value: kpi_ratio, name: '季度KPI\nVV达标率'}
                }
              ]
            };

            setInterval(function (){
              myChart.setOption(option,true);
            }.call(this),2000);
            window.onresize = myChart.resize;
          }
          firstMap();

      function uv_left(){
        var vv_month_date = {{ vv_month_date|safe }};
        var vv_month_lastyear = {{ vv_month_lastyear|safe }};
        var vv_month_thisyear = {{ vv_month_thisyear|safe }};
        var myChart = echarts.init(document.getElementById('uv_left'));
		myChart.showLoading();
        // 指定图表的配置项和数据
        var option = {

            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['2016','2017']
            },
            toolbox: {
              show: true,
              feature: {
                dataView: {readOnly: false},
                saveAsImage: {}
              }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'],
                    splitLine: {
                        show: false
                    }
                },
            ],
            yAxis: {
                    splitLine: {
                        show: false
                    }
            },
            series: [{
                name: '2016',
                type: 'bar',
                data: vv_month_lastyear,
                },
                {
                name: '2017',
                type: 'bar',
                data: vv_month_thisyear,
                }
                ]
        };
		myChart.hideLoading();
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        window.onresize = myChart.resize;
      }
      uv_left();


      function uv_right(){
        var vv_day_date = {{ vv_day_date|safe }};
        var vv_day_data = {{ vv_day_data|safe }};
        var uv_day_data = {{ uv_day_data|safe }};
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('uv_right'));
		myChart.showLoading();
        // 指定图表的配置项和数据
        var option = {
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:[{name:'vv',icon:'circle',textStyle:{color:'red'}},{name:'uv',icon:'circle',textStyle:{color:'blue'}}]
            },
            toolbox: {
              show: true,
              feature: {
                dataView: {readOnly: false},
                saveAsImage: {}
              }
            },
            xAxis: {
                type : 'category',
                boundaryGap : false,
                data: vv_day_date,
                splitLine: {
                    show: false
                }
            },
            yAxis: {
                type : 'value',
                splitLine: {
                    show: false
                }
                },
            series: [{
                name: 'vv',
                type: 'line',
                data: vv_day_data,
                markLine : {
                    data : [
                        {type : 'average', name: '平均值'}
                    ]
                }
            },

            {
                name: 'uv',
                type: 'line',
                data: uv_day_data,
                markLine : {
                    data : [
                        {type : 'average', name: '平均值'}
                    ]
                }
            }]
        };
		myChart.hideLoading();
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        window.onresize = myChart.resize;
      }
      uv_right();

      //ScrollUp
      $(function () {
        $.scrollUp({
          scrollName: 'scrollUp', // Element ID
          topDistance: '300', // Distance from top before showing element (px)
          topSpeed: 300, // Speed back to top (ms)
          animation: 'fade', // Fade, slide, none
          animationInSpeed: 400, // Animation in speed (ms)
          animationOutSpeed: 400, // Animation out speed (ms)
          scrollText: 'Top', // Text for element
          activeOverlay: false // Set CSS color to display scrollUp active point, e.g '#00FFFF'
        });
      });




    </script>

  </body>
</html>