<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="map" style="width:100%;height:800px"></div>

<script src="echarts.min.js"></script>
<script src="jquery.js"></script>
<script>

        var myChart = echarts.init(document.getElementById('map'));
        myChart.showLoading();
        var center={x:-400,y:-300};
        var bigPoint=new Object();
        var newArray=[];
        $.getJSON('node_g.json', function (json) {
            json.nodes.sort(function compate(b,a){return a.size- b.size});
            json.nodes.map(function(node) {
                if (node.size > 35 && node.size <= 50) {
                    node.x=center.x;
                    node.y=center.y;
                    var direction=Math.random()<0.5?1:-1;
                    node.x += Math.random() * 100 * direction;
                    node.y += Math.random() * 260 * direction;
                    bigPoint.label= true;
                    bigPoint.x = node.x;
                    bigPoint.y = node.y;
                    bigPoint.size = node.size;
                    node.color = 'red';//正中心的坐标x（-350,-450）；y(-200,-400)
                    newArray[node.label]=bigPoint;
                    console.log(newArray[node.label].size);
                }
                else if (node.size > 25 && node.size <= 35) {
                    node.x = -Math.random() * 200 - 300;
                    node.y = -Math.random() * 200 - 250;
                    node.color = 'orange';
                }
                else if (node.size > 15 && node.size <= 25) {
                    node.x = -Math.random() * 300 - 250;
                    node.y = -Math.random() * 300 - 200;
                    node.color = '#cba';
                }
                else if (node.size > 10 && node.size <= 15) {
                    node.x = -Math.random() * 400 - 200;
                    node.y = -Math.random() * 400 - 150;
                    node.color = 'green';
                }
                else {
                    console.log(newArray);
                    json.edges.select(function (edges) {
                        if (newArray[edges.targetID]!==undefined) {
                            var x=newArray[edges.targetID].x;
                            var y=newArray[edges.targetID].y;
                            var size=newArray[edges.targetID].size;
                            var direction=Math.random()<0.5?1:-1;
                            var range=Math.random()*10;
                            node.x =x +size* direction +range ;
                            node.y =y +size* direction + range;
                            node.color = 'blue';

                        }
                        ;
                    });

                }
                ;
            })

        myChart.hideLoading();
        myChart.setOption(option = {
            title: {
                text: 'NPM Dependencies'
            },
            animationDurationUpdate: 1500,
            animationEasingUpdate: 'quinticInOut',

            series : [
                {
                    type: 'graph',
                    layout: 'none',
                    // progressiveThreshold: 700,
                    data: json.nodes.map(function (node) {
                        return {
                            x: node.x,
                            y: node.y,
                            id: node.id,
                            name: node.label,
                            symbolSize: node.size,
                            itemStyle: {
                                normal: {
                                    color: node.color
                                }
                            }
                        };
                    }),
                    edges: json.edges.map(function (edge) {
                        return {
                            source: edge.sourceID,
                            target: edge.targetID
                        };
                    }),
                    label: {
                        emphasis: {
                            position: 'right',
                            show: true
                        }
                    },
                    roam: true,
                    focusNodeAdjacency: true,
                    lineStyle: {
                        normal: {
                            width: 0.5,
                            curveness: 0.3,
                            opacity: 0.7
                        }
                    }
                }
            ]
        }, true);
    });
</script>
</body>
</html>